/* ******************* Reset CSS ****************** */

:root {
    --main-font: "Space Mono", sans-serif;
    --second-font: "Inconsolata", sans-serif;
    --footer-font: "Montserrat", sans-serif;
    --main-color: #333;
    --second-color: #4f4f4f;
    --footer-color: #bdbdbd;
    --white-color: #fff;
    --margin-24: 1.5rem;
    --max-width: 1440px;
}

html {
    box-sizing: border-box;
    font-family: var(--main-font);
    font-size: 1rem;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: auto;
    background-color: var(--white-color);
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    margin: 0;
    font-size: 3rem; /* 48px */
}

h2 {
    margin: 0;
    font-size: 1.5rem; /* 24px */
}

img {
    max-width: 100%;
    height: auto;
}

/* ******************* Site 404 ****************** */

.header h2 {
    color: var(--main-color);
    font-family: var(--second-font);
    line-height: 25px;
    letter-spacing: -0.08em;
    margin-top: 20px;
    margin-left: var(--margin-24);
    text-transform: uppercase;
}

.container {
    margin-top: 4rem;
    margin-left: calc(var(--margin-24) + 20px);
    margin-right: calc(var(--margin-24) + 20.17px);
}

.main h1 {
    color: var(--main-color);
    font-family: var(--main-font);
    font-weight: bold;
    margin-top: 4.85rem;
    margin-left: var(--margin-24);
    margin-bottom: calc(var(--margin-24) * 1.25);
    line-height: 71px;
    letter-spacing: -0.035em;
}

.main p {
    color: var(--second-color);
    font-family: var(--main-font);
    font-size: 1.125rem;
    font-weight: normal;
    line-height: 27px;
    letter-spacing: -0.035em;
    margin-left: 1.4375rem;
    margin-right: var(--margin-24);
    margin-bottom: calc(var(--margin-24) * 2.75);
}

.btn {
    background-color: var(--main-color);
    width: 13.5rem;
    height: 4.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: var(--margin-24);
    margin-bottom: 7.125rem;
}

.btn a {
    color: var(--white-color);
    font-family: var(--main-font);
    margin: 0;
    font-size: 0.875rem;
    text-decoration: none;
}

.footer {
    color: var(--footer-color);
    font-family: var(--footer-font);
    font-size: 0.875rem;
    line-height: 17px;
    margin-left: 2.875rem;
    margin-right: calc(var(--margin-24) * 1.75);
    margin-bottom: var(--margin-24);
    text-align: center;
}

@media screen and (min-width: 64em) {
    body {
        margin-left: auto;
        margin-right: auto;
        max-width: var(--max-width);
        min-height: 100vh;
        grid-template-columns: repeat(2fr);
        grid-template-areas:
            "header       header"
            "container   main"
            "footer        footer";
    }

    .header {
        grid-area: header;
        margin-top: 2.5rem;
        margin-left: 4.8125rem;
    }

    .container {
        grid-area: container;
        margin-left: 4.8125rem;
    }

    .main {
        grid-area: main;
        /* margin-left: 0; */
        margin-right: 119px;
        width: 586px;
    }

    .main h1 {
        margin-left: 0;
        font-size: 4rem;
        line-height: 5.9375rem; /* 95px*/
        margin-bottom: 2.25rem;
    }

    .main p {
        margin-left: 0;
        width: 381px;
        font-size: var(--margin-24);
        line-height: 36px;
        margin-bottom: 4rem;
    }

    .main button {
        margin-left: 0;
    }

    .footer {
        grid-area: footer;
    }
}
